# Ignore node modules and test outputs
dist/
node_modules/
# Local environment files
.env
.env.local
# MacOS system files
.DS_Store
# Log files
*.log
# Netlify-specific files
.netlify/
# VS Code settings
.vscode/